<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/perfil/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Bem vindo!</h2>
    <div>
        <ul>
            <li>Nome do aluno: <%= nomeCompleto %></li>
            <li>Idade: <%= idade %></li>
        </ul>
    </div>
</body>
</html>