    <h1>rota raiz de pedidos ejs<%= nomeDoUsuario %></h1>
    <ul>
        <% pedidos.map((pedido) => { %>
            <li>pedido do <%=pedido.cliente.nome%> <%=pedido.cliente.sobrenome%></li>
            <li> <%= pedido.metodoDePagamento%></li>
        <% }) %>
    </ul>